body,
html {
  padding: 0;
  margin: 0;
}

:root {
  --button-height: 35px;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--random-color);
  transition: background-color 1s ease;
}

#wrapper {
  width: 100%;
  min-width: 200px;
  max-width: 500px;
}

#wrapper #quote-box {
  padding: 20px 25px;
  background-color: white;
  border-radius: 5px;
}

#wrapper #quote-box #text,
#wrapper #quote-box #author {
  color: var(--random-color);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: color 0.5s ease;
}

#wrapper #quote-box #text {
  font-size: large;
  text-align: center;
}

#wrapper #quote-box #author {
  text-align: right;
  margin: 20px;
}

#wrapper #quote-box .Buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#wrapper #quote-box .Buttons a,
#wrapper #quote-box .Buttons button {
  color: white;
  background-color: var(--random-color);
  height: var(--button-height);
  margin: 5px;
  border-radius: 5px;
  transition: background-color 1s ease;
}

#wrapper #quote-box .Buttons .social-container {
  display: flex;
}

#wrapper #quote-box .Buttons .social-container a {
  display: flex;
  width: var(--button-height);
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

#wrapper #quote-box .Buttons #new-quote {
  border: none;
  padding: 0 15px;
}

#wrapper #footer {
  text-align: center;
  margin: 5px;
  font-size: 13px;
  color: white;
}

#wrapper #footer a {
  text-decoration: none;
  color: white;
}
